#cudl {
    width: 60px;
    height: 20px;
}

label {
    width: 200px;
}

#kontrola {
    margin-top: 20px;
}

#rc,
#button2 {
    height: 100%;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.correctFigure {
    background-color: #00DD00;
}

.incorrectFigure {
    background-color: #FF8686;
}

#characters {
    display: flex;
    flex-direction: row;
}

#characters div {
    display: flex;
    padding: 8px;
    margin: 3px;
    border-radius: 3px;
}